<h1>{{title}}</h1>
<p></p>
<div class="row">
  <div class="col m6">
    <a href="/books">
      <img class="responsive-img" src="http://placehold.it/700x400/5bc0de/000000?text=Books">
    </a>
  </div>
  <div class="col m6">
    <a href="/authors">
      <img class="responsive-img" src="http://placehold.it/700x400/5cb85c/000000?text=Authors">
    </a>
  </div>
</div>
